.directions--container {
  max-width: var(--containerWidth);
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 40px 0;
}

.directions--header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fontSizeLarge);
  padding: 20px 0;
  color: var(--white);
  font-weight: 600;
  font-weight: bolder;
  background-image: linear-gradient(45deg, #fff, gray);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.directions--details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(55, 0, 255);
  border-radius: 10px;
  padding: 40px;
  gap: 20px;
}

.directions--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: var(--fontSizeMedium);
  color: var(--white);
}

.directions--item--number{
  background: var(--white);
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 20em;
  font-weight: 700;
}

.directions--item--text{
  line-height: 1.5;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .directions--container {
    padding: 40px 10px;
  }

  .directions--header {
    font-size: 32px;
  }

  .directions--details {
    grid-template-columns: repeat(4, 1fr);
    overflow-x: scroll;
  }

  .directions--item {
    width: 200px;
  }
}