.testimonials--container {
  max-width: var(--containerWidth);
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 40px 0;
}

.testimonials--header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: var(--fontSizeLarge);
  font-weight: bolder;
  background-image: linear-gradient(45deg, #fff, gray);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.testimonials--details {
  display: flex;
  background-color: rgba(179, 18, 98, 0.453);
  gap: 20px;
  align-items: center;
}

.testimonials--details__image {
  flex: 1;
  background-color: indianred;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.testimonials--img {
  width: 100%;
  height: 100%;
  background-color: indigo;
}

.testimonials--img img {
  width: 100%;
  height: 700px;
}

@media screen and (max-width: 768px) {
  .testimonials--container {
    padding: 40px 10px;
  }

  .testimonials--header {
    font-size: var(--fontSizeMedium);
  }
}