.services--container {
  max-width: var(--containerWidth);
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 40px 0;
}

.services--header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: var(--fontSizeLarge);
  font-weight: bolder;
  background-image: linear-gradient(45deg, #fff, gray);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.services--details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.services--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  height: auto;
  border-radius: 20px;
  border: 1px solid grey;
  gap: 20px;
  background: linear-gradient(45deg,rgba(27,23,36,.4),rgba(15,14,19,.4));
  padding: 40px;
} 

.services--item:hover{
  border: 1px solid var(--lightBlue);
}

.services--item--title{
  font-weight: 800;
  font-size: xx-large;
}

.services--button--tag{
  display: flex;
  width: 100%;
}

.services--button{
  border-radius: 17px !important;
  width: 100%;
  line-height: 46px;
  padding-left: 23px;
  padding-right: 23px;
  color: var(--white);
  background-color: rgb(9, 0, 189);
  border: 1px solid var(--white);
  cursor: pointer;
}

.services--item--body{
  line-height: 1.5;
  text-size-adjust: 100%;
}

@media screen and (max-width: 768px) {
  .services--container {
    padding: 40px 10px;
  }

  .services--header {
    font-size: var(--fontSizeMedium);
  }

  .services--details {
    overflow-x: scroll;
  }

  .services--item {
    width: 320px;
  }
}