.benefits--container {
  display: flex;
  gap: 20px;
  max-width: var(--containerWidth);
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 40px 0;
}

.benefits--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  width: 50%;
  gap: 20px;
}

.benefits--cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.benefits--cards__items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
}

.benefits--item__header {
  font-size: var(--fontSizeLarge);
  font-weight: 700;
  color: blue;
}

.benefits--right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  color: var(--white);
  line-height: 1.5;
  width: 50%;
}

.benefits--item--tag{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.benefits--item--submit{
  font-weight: 800;
  font-size: larger;
}

.benefits--item--started{
  display: flex;
  justify-content: center;
  padding: 12px 0;
  border-radius: 40px;
  background-color: var(--blue);
  width: 250px;
  font-size: 16px;
  cursor: pointer;
}

.benefits--item--started:hover {
  background-color: var(--lightBlue);
}

.benefits--right__header {
  font-size: x-large;
  font-weight: 800;
}

.benefits--right__content {
  color: rgba(255, 253, 253, 0.44);
}

@media screen and (max-width: 768px) {
  .benefits--container {
    padding: 40px 10px;
    flex-direction: column;
  }

  .benefits--left {
    width: 100%;
  }

  .benefits--right {
    width: 100%;
  }

  .benefits--cards {
    overflow-x: scroll;
    gap: 10px;
  }

  .benefits--cards__items {
    width: 150px;
    border-right: 1px solid var(--lightBlue);
    padding: 0 10px;
  }
}