.overlay {
  backdrop-filter: blur(40px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.modal--container {
  position: fixed;
  top: 45%;
  left: 47%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--fontSizeMedium);
}

.modal--item {
  cursor: pointer;
}

.closeBtn {
  position: fixed;
  top: 18px;
  left: 18px;
  font-size: var(--fontSizeMedium);
}