.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.modal--container {
  position: fixed;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--fontSizeMedium);
}

.modal--item {
  cursor: pointer;
}

.modal--item a {
  color: white;
  text-decoration: none;
}

.closeBtn {
  position: fixed;
  top: 35px;
  left: 25px;
  font-size: var(--fontSizeMedium);
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
}