.strategy--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: var(--containerWidth);
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 40px 0;
}

.strategy--header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: var(--fontSizeLarge);
  font-weight: bolder;
  background-image: linear-gradient(45deg, #fff, gray);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.strategy--card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.strategy--card__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.strategy--card__header {
  color: var(--white);
  filter: brightness(900%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.strategy--card__header img {
  color: var(--white);
  width: 20px;
  height: 20px;
}

.strategy--card__details {
  color: var(--grey);
}
