.header--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--containerWidth);
  width: 100%;
  margin: 0 auto;
  height: 80px;
  color: var(--white);
  gap: var(--largeGap);
}

.header--logo {
  height: 100%;
  width: 20%;
}

.header--logo img {
  width: 100%;
  height: 100%;
}

.header--nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 50px;
}

.header--links {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
  gap: 50px;
  cursor: pointer;
}

.header--btn {
  padding: 10px 30px;
  background-color: blue;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.header--btn a {
  text-decoration: none;
  color: white;
}

.header--btn a:hover {
  color: white;
}

.header--btn:hover {
  background-color: rgba(0, 0, 255, 0.528);
}

.header--mobile__opener {
  display: flex;
  justify-content: end;
  flex: 1;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .header--logo {
    width: 200px;
  }
}
