.challenge--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  max-width: var(--containerWidth);
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 40px 0;
  gap: 20px;
}

.challenge--card__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}

.challenge--card {
  background-color: rgba(245, 222, 179, 0.015);
  border: 1px solid gray;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  
}

.challenge--card:hover {
  border: 1px solid var(--lightBlue);
}

.challenge--text {
  line-height: 1.5;
}

.challenge--head{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: var(--fontSizeLarge);
  font-weight: bolder;
  background-image: linear-gradient(45deg, #fff, gray);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.challenge--price {
  padding: 5px 0;
  font-size: x-large;
  font-weight: 800;
}

.challenge--icon {
  width: 50px;
  height: 50px;
  border: none;
  color: var(--white);
  filter: brightness(90000000%);
}

.challenge--icon img {
  width: 100%;
  height: 100%;
}

.challenge--details {
  padding: 15px 0;
  border-bottom: 1px solid gray;
  display: flex;
  gap: 10px;
  align-items: center;
}

.challenge--amount__container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}

.challenge--amount {
  font-size: large;
  font-weight: 600;
}

.challenge--btn {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: var(--blue);
  outline: none;
  border: none;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.challenge--btn:hover {
  background-color: var(--lightBlue);
}

@media screen and (max-width: 768px) {
  .challenge--container {
    padding: 40px 10px;
  }

  .challenge--head {
    padding: 0;
    font-size: var(--fontSizeMedium);
    background-color: yellow;
  }

  .challenge--card__container {
    overflow-x: scroll;
  }

  .challenge--card {
    width: 300px;
  }
}