.customer--container {
  display: flex;
  flex-direction: column;
  max-width: var(--containerWidth);
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 40px 0;
  gap: 20px;
}

.customer--header {
  text-align: center;
  font-size: var(--fontSizeLarge);
  color: var(--white);
}

.customer--cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.customer--cards__item {
  height: 450px;
}

.customer--cards__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

.customer--cards__item:nth-child(2) {
  margin-top: 40px;
}

.customer--footer {
  display: flex;
  margin-top: 40px;
  gap: 20px;
}

.customer--footer__left {
  display: flex;
  align-items: center;
  width: 50%;
  color: var(--grey);
  font-weight: 700;
  display: flex;
  gap: 10px;
}

.customer--footer__right {
  width: 50%;
  color: var(--grey);
  line-height: 1.5;
  font-weight: 700;
}
